{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<body>
<p><center><b>OUR MISSION</b></center>

Starting as a QA company in 2012, we have grown to become the trusted QA partner for various Fortune 500 and startup companies alike.
We are now on the mission to become the best technology company on a global scale by developing resourceful apps, assessing their quality, communicating effectively with everyone, and focusing on the self-improvement of both our employees and the company.
</p>
</body>
{% endblock %}

