{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<body>
<h1><center>Our Locations</center></h1>
<p>
    <p><b>CHENNAI</b></p>
    <p>305, 3rd Floor, D-North Tidel Park,</p>
    <p>No. 4, Rajiv Gandhi Salai,Taramani,</p>
    <p>Chennai,Tamil Nadu, India – 600 113.</p>
    <p>Toll Free (IN): 1800 (212) 6988</p>

</p>
<p>
    <p><b>DALLAS-USA</b></p>
    <p>539 W. Commerce St #428,</p>
    <p>Dallas, TX – 75208.</p>
    <p>Toll Free (US): +1 833 (685) 6161</p>
</p>
<h3><center>For Communication</center></h3>
<p>
    <p><b>Marketing Enquiries</b></p>
    <p>marketing@codoid.com</p>
    <p><b>Technical and Product Queries</b></p>
    <p>info@codoid.com</p>
    <p><b>For Job Enquiries</b></p>
    <p>recruitment@codoid.com</p>
</p>
<form>

</form>
</body>
{% endblock %}
